head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')

	meta(name='viewport', content='width=device-width, initial-scale=1')
	title= title
	meta(name='description', content='')
	link(rel="apple-touch-icon", sizes="180x180", href="templates/_ares/img/favicon//apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="templates/_ares/img/favicon//favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="templates/_ares/img/favicon//favicon-16x16.png")
	link(rel="manifest", href="templates/_ares/img/favicon//site.webmanifest")
	link(rel="mask-icon", href="templates/_ares/img/favicon//safari-pinned-tab.svg", color="#9f8998")
	meta(name="msapplication-TileColor", content="#ffffff")
	meta(name="theme-color", content="#ffffff")
	block styles
	link(rel='stylesheet', href="templates/_ares/css/styles.min.css")
