doctype
html(lang="ru")

	block vars

	include _head

	body(id=page)
		.wrapper
			include ../components/_page-header
			main
				block content
			include ../components/_page-footer
		.pleloader
			img(src="./templates/_ares/img/logo/preloader.svg")
		include _footer
