a(href="#").article_item
    span.article_image(style="background-image: url('./templates/_ares/img/jpg/article.jpg');")
    span.article_info
        span.date.mb-1 15.05.2018
        span.article_title Плитка кабанчиком или метро
        span.article_text.mb-2 В славянских широтах кабанчиком называли фасадную керамическую плитку, потому что с торцевой стороны (которую нам не видно)...
        span.article_link Читать далее
            i.i-arrow_right