for btn in btnItem
    a.btn(href=btn.href, class='btn_size-'+ btn.size +' btn_type-'+ btn.type)=btn.text

//- -var btnItem = [{"href":"#","size":"medium","type":"black","text":"Отправить"}];
//- include components/_btn