.week
    .title.color-black.weight-bold.text_size-extraLarge.text-center Неделя 1
    ol.week_list
        li Научимся правильно делать обмеры
        li Разберем на примерах как планировать пространство
        li Узнаем юридические нормы перепланировок
        li Сами начертим планировку в простой прогамме
        li Расставим мебель с учетом эргономики
    a(href="#").link.link-border.uppercase.text_size-small результаты недели