a(href="#").course_item
    span.course_image(style="background-image: url('./templates/_ares/img/jpg/course.jpg');")
    span.course_info
        span.date.mb-1 15.05.2018
        span.course_title Плитка кабанчиком или метро
        span.course_text.mb-2 В славянских широтах кабанчиком называли фасадную керамическую плитку, потому что с торцевой стороны (которую нам не видно)...
        span.course_link Читать далее
            i.i-arrow_right