.design_card
    .title.title_size-large.color-black.text-center Дизайн-проект
    hr.hr.hr-black.hr-50 
    .text.weight-bold 5 000 р/м2
    hr.hr.hr-black.hr-210
    ul.design_list
        li Планировочное решение
        li Стилистическое решение
        li Строительные чертежи
    hr.hr.hr-black.hr-210
    .flex-column.align-middle
        a(href="#").link.link-border.uppercase состав проекта
        a(href="#").link.link-border.uppercase Пример рабочей документации