nav.menu_area
    .row.expanded.align-middle
        .columns
            ul.menu
                for menu in menuItems
                    li.menu_item
                        a(href="#").menu_link=menu
        
//- -var menuItems = ["Портфолио","Услуги и цены","Частые вопросы и ответы","Статьи","Видео","Обучение","Контакты"];
//- include ./_menu
