.design_card
    .title.title_size-large.color-black.text-center Пакет “Стартовый”
    hr.hr.hr-black.hr-50 
    .text.weight-bold 15 000 руб.
    hr.hr.hr-black.hr-210
    ul.design_list.text-center
        li 1-й этап курса
        li Срыв дедлайна — 3000 р/сутки
        li Бесплатный переход на следующий этап послесдачи задания предыдущего
    hr.hr.hr-black.hr-210
    .flex-column.align-middle
        -var btnItem = [{"href":"#","size":"medium","type":"floatBlack","text":"Записаться на курс"}];
            include ./_btn