a(href="#").portfolio_item
    span.portfolio_image(style="background-image: url('./templates/_ares/img/png/portfolio1.jpg');")
    span.portfolio_image-hover(style="background-image: url('./templates/_ares/img/png/portfolio2.jpg');")
    span.portfolio_info
        span.portfolio_title Квартира на улице Макаренко
        span.portfolio_link
            | Смотреть проект
            object(data="./templates/_ares/img/svg/arrow_right-white.svg", type="")