.social
    for social in socialItems
        a(href="#",).social_item
            img(src=social.black, alt="")
            img(src=social.white, alt="")

//- - var socialItems = ['header_logo'];
//- include ./social
