.step
    .step_num 1
    .step_icon
        img(src="./templates/_ares/img/svg/plane.svg", alt="")
    .step_text.text.color-grey
        p Встречаемся на объекте для проведения замеров, заполнения анкеты и подписания договора