for title in titleItem
    .title(class="title_size-"+ title.size +' color-'+ title.color +' weight-'+ title.weight)= title.text

//- -var titleItem = [{"size":"large","color":"black","weight":"bold","text":"Портфолио"}];
//- include components/_title