extends templates/_layout

block vars
    - var page = "default_page";
    - var title = "articles";

block content
    .row
        .columns
            include ./components/_breadcrumbs
    .row.mb-4
        .columns.small-12
            -var titleItem = [{"size":"large","color":"black","weight":"bold mb-1","text":"Доска на стене и на потолке"}];
            include components/_title
            .date 15.05.2018
    .row
        .column
            .text_area
                p
                    img(src="./templates/_ares/img/jpg/test.jpg", alt="")
                p "А давайте жахнем его на потолок!" - предложил более сотни лет назад некто оригинальный, оформляя интерьеры дворцов. Паркет на потолке и стенах - хорошо забытый прием, хоть нашему взору он и кажется новым. Но это лишь потому, что взор наш измучился панельным строительством и экономичными потолками с доступной побелкой.
                p Нынче этот тренд помогает создать ощущение загородного дома, которого так не хватает нашим 
                    a(href="#", title="title") душам в городских
                    |  муравейниках. Поэтому он так любим и набирает популярность.
                p В эпоху Илона Маска использовать паркет для потолка и стен уже не прогрессивно. А вот паркетную или инженерную доску - в самый раз, потому что они легче и стабильнее. А еще они хорошо спиливаются и запиливаются на краях, в отличии от ламината, который и тут все портит, крошась и образуя постыдные стыки.
                p Паркетная и инженерная доски отличаются, напомню, способом монтажа и соединениями между досок, но давайте не будет об этом. А лучше будем о том, что оба эти вида досок желательно одновременно и клеить, и гвоздиками закреплять на подготовленную фанеру/гипсокартон/профили. Что, когда и куда - уточните у строителей по месту, (мне из инстаграма не видно). А еще светильники туда тоже встраиваются без проблем.
                p Но у умных производителей паркетов есть специальные настенные панели, которые легче и дешевле напольных собратьев. У производителей дверей часто встречаются широкоформатные панели до потолка. А у производителей акустических панелей есть красивые потолочные варианты.
                ol
                    li Но у умных производителей
                    li паркетов есть специальные
                    li В эпоху Илона Маска использовать
                    li псокартон/профили
                    li и дешевле напольных собратьев
                ul
                    li Но у умных производителей
                    li паркетов есть специальные
                    li В эпоху Илона Маска использовать
                    li псокартон/профили
                    li и дешевле напольных собратьев
                include ./components/_table
    .row
        .columns
            .article_pagination
                a(href="#").article_pagination_item
                    i.i-arrow_left 
                    | Предыдущая статья
                a(href="#").article_pagination_item 
                    | Предыдущая статья
                    i.i-arrow_right
                

