extends templates/_layout

block vars
    - var page = "default_page";
    - var title = "portfolio";

block content
    .grid_container
        .grid_information
            .grid_sticky
                .row.expanded
                    .columns
                        include ./components/_breadcrumbs
                .row.expanded.mb-4
                    .columns.small-12
                        -var titleItem = [{"size":"large","color":"white","weight":"bold","text":"Таунхаус в Futuro park"}];
                        include components/_title
                .row.expanded.mb-5
                    .columns.small-12
                        .text_area
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                .row.expanded
                    .columns.small-12
                        .portfolio_options
                            .title.color-white.weight-bold Расположение:
                            .text.color-white г. Москва, Futuro park
                        .portfolio_options
                            .title.color-white.weight-bold Площадь:
                            .text.color-white 169 м2
        .row.expanded
            .columns
                .grid
                    .grid-sizer
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas1.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas1.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas2.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas2.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas3.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas3.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/test.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/test.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas1.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas1.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas2.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas2.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas3.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas3.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/test.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/test.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas1.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas1.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas2.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas2.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas3.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas3.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/test.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/test.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas1.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas1.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas2.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas2.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/mas3.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/mas3.jpg", alt="")
                    .grid-item
                        a(href="./templates/_ares/img/jpg/test.jpg", data-fancybox="portfolio").class
                            img(src="./templates/_ares/img/jpg/test.jpg", alt="")