.flex{
	display: flex;

	&-row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-column{
		display: flex;
		flex-direction: column;
	}

	&-wrap{
		display: flex;
		flex-wrap: wrap
	}
}