.link{
    position: relative;
    display: inline-flex;
    align-items: center;

    &_size{
        

        &-medium{
            font-size: 1.125rem;
            font-weight: 700;

            object{
                max-width: 2rem;
                margin-left: 0.75rem;
                transition: @transition-time;
            }
        }

        &-large{
            font-size: 1.125rem;

            object{
                margin-left: 0.75rem;
                transition: @transition-time;
            }
        }
    }

    &_color{

        &-black{
            color: @black;

            object{
                fill: @black;
                max-width: 2rem;
            }

            &:hover{
                color: @black--hover;
            }
        }

        &-grey{
            color: #999;

            object{
                fill: #999;
                max-width: 1.25rem;
            }

            &:hover{
                color: #666;
            }
        }
    }

    &:hover{

        object{
            margin-left: 1rem;
        }
    }

    object{
        width: 100%;
        display: block;
    }
}