.header {
    padding: 1.375rem 0;
    z-index: 9;
    background-color: @white;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,.1);
    
    &-absolute{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    &-fixed{
        position: fixed;
        width: 100%;

        @media (max-width: 39.975em){
            width: ~'calc(100% - 2rem)';
        }
    }

    &_logo{
        max-width: 10rem;
        margin: 0 auto;
    }

    &-black{

        .burger{

            &_spin{
                background-color: @black--hover;
            }

            &:hover{
                .burger_spin{
                    background-color: #666;
                }
            }
        }

        .social{

            &_item{

                img{
                    &:nth-child(1){
                        display: block;
                    }
                }
            }
        }

        .logo{

            img{
                &:nth-child(1){
                    display: block;
                }
            }
        }

        .lang{
        
            &_item{
                color: @black--hover;
        
                &:hover{
                    color: #666;
                }
            }
        }
    }

    &-white{

        .burger{

            &_spin{
                background-color: @white;
            }

            &:hover{
                .burger_spin{
                    background-color: #666;
                }
            }
        }

        .social{

            &_item{

                img{
                    &:nth-child(2){
                        display: block;
                    }
                }
            }
        }

        .logo{

            img{
                &:nth-child(2){
                    display: block;
                }
            }
        }

        .lang{
        
            &_item{
                color: @white;
        
                &:hover{
                    color: #666;
                }
            }
        }
    }
}

#main_page{

    .header{
        background-color: transparent;
        box-shadow: none;

        &-fixed{
            position: fixed;
        }
    }
}