.text{

	&-center{
		text-align: center;
	}

	&-right{
		text-align: right;
    }
    
    &-left{
        text-align: left;
    }

    &_size{

		&-extraSmall{
			font-size: 0.75rem;
		}
		
		&-small{
			font-size: 0.875rem;
		}

		&-medium{
			font-size: 1.125rem;
		}

		&-large{
			font-size: 1.25rem;
		}

		&-extraLarge{
			font-size: 1.5rem;
		}
	}
}

.uppercase{
	text-transform: uppercase;
}